@import './variables.module.scss';

.cart-page {
  padding: 1rem 0;
  user-select: none;

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3.2fr;
    gap: 2rem;
    padding: 2rem 0;
  }

  .cart-main {
    width: 100%;
    &__title {
      cursor: default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 0 2rem 0;
      h1 {
        font-size: 1.5rem;
        font-weight: 500;
      }
      &__remove {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        color: $grey-400;
        cursor: default;

        span {
          font-size: 0.85rem;
          font-weight: 300;
        }

        &.active {
          cursor: pointer;
          color: $black;

          &:hover {
            color: $red-dark;
          }
        }
      }
    }
    &__product-list-main {
      width: 100%;

      &__list {
        border-top: 1px solid $grey-200;
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 2fr 2fr;
        padding: 1.5rem 0;

        &.border-none {
          border-top: 0px;
          user-select: none;
          cursor: default;

          p {
            letter-spacing: 0.05rem;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 300;
            color: $grey-500;
          }
        }

        &__product {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 1.5rem;

          &__selector {
            position: relative;
            width: 1rem;
            height: 1rem;

            .select__icon {
              height: 1.25rem;
              width: 1.25rem;
            }
          }

          &__details {
            display: grid;
            grid-template-columns: 1.8fr 5fr;
            gap: 1rem;
            width: 100%;
            .list-detail__product {
              &__image {
                position: relative;
                width: 100%;
                overflow: hidden;
                border-radius: $borderRadius;
              }
              &__title {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;

                span {
                  cursor: default;
                  font-weight: 200;
                  font-size: 0.95rem;
                  color: $grey-500;
                }
              }
            }
          }
        }

        &__qty {
          width: 100;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          .qty-button {
            display: flex;
            gap: 1rem;
            border-radius: $borderRadius;
            box-shadow: 0 0 0 1px $grey-300;
            padding: 0.25rem;
            align-items: center;
            justify-content: center;

            &-click {
              padding: 0.5rem;
              border-radius: $borderRadius;
              transition: $transition;
              cursor: pointer;

              &:hover {
                background-color: $primary-500;
                color: $white;
              }
            }
          }

          .remove {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            cursor: pointer;

            span {
              font-weight: 300;
              font-size: 0.9rem;
            }

            &:hover {
              color: $red-dark;
            }
          }
        }

        &__price {
          width: 100%;
          text-align: right;
          font-size: 1.1rem;
        }
      }
    }
  }

  &__checkout__main {
    width: 100%;

    .cart-page__checkout__card {
      border-radius: $borderRadius;
      border: 1px solid $grey-200;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      &__subtotal {
        display: flex;
        justify-content: space-between;
        span {
          font-weight: 200;
          color: $grey-500;
        }

        p {
          font-weight: 200;
        }
      }

      &__grandtotal {
        display: flex;
        width: 100%;
        justify-content: space-between;
        span {
          color: $primary-600;
          font-weight: 200;
        }
        p {
          font-size: 1.2rem;
        }
      }

      &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: $borderRadius;
        background-color: $primary-600;
        font-weight: 200;
        color: $white;
        cursor: pointer;
        user-select: none;
        transition: $transition;

        &:hover {
          background-color: $primary-500;
        }

        &.disable {
          background-color: $grey-300;
          cursor: not-allowed;
        }
      }
    }
  }
}
